<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="GPA Calculator" connectionString="Server=.\WilliamSQL;Database=GPACalculator;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
      <appSettings>  
    <add key="DefaultName" value=""/>  
    <add key="DefaultUsername" value=""/>  
    <add key="Defaultpassword" value=""/>  
  </appSettings>  
</configuration>
